<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" type="text/css">
    <title>Ninja Gold</title>
</head>
<body>
    <div class="container">
        <h1>Ninja Gold</h1>
        <div class="gold-display">
            <p>Your Gold: {{ request.session.gold_count }} </p>
        </div>
        <a href="/reset" class="button">Reset</a>
        <div class="location-container">
            <form action="/process/" method='post'>
                {% csrf_token %}
                <h1>Cave</h1>
                <h3>2-7 Golds</h3>
                <input type="hidden" name='location' value="cave">
                <input type="submit" value="Get Golds">
            </form>
            <form action="/process/" method='post'>
                {% csrf_token %}
                <h1>House</h1>
                <h3>Earns 2-5 Golds</h3>
                <input type="hidden" name='location' value="house">
                <input type="submit" value="Get Golds">
            </form>
            <form action="/process/" method='post'>
                {% csrf_token %}
                <h1>Farm</h1>
                <h3>Earns 10-20 Golds</h3>
                <input type="hidden" name='location' value="farm">
                <input type="submit" value="Get Golds">
            </form>
            <form action="/process/" method='post'>
                {% csrf_token %}
                <h1>Casino</h1>
                <h3>Earns/Takes 50 Golds</h3>
                <input type="hidden" name='location' value="casino">
                <input type="submit" value="Get Golds">
            </form>
        </div>
        {% if request.session.activities %}
            <div class="activities">
            <p>Activities:</p>
            {% for activity in request.session.activities %} <!-- note request has to spelled out in html file instead of using 'req' like in views.py -->
                <p class="{{ activity.css_class }}">{{ activity.content }}</p>
            {% endfor %}
        {% endif %}    
        </div>
    </div>
</body>
</html>